.dokan-kits-wrap{
    max-width:99%;
}
#dokan-kits-body-content {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    gap: 20px;
}

#dokan-kits-body-content .dokan_kits_style_box {
    flex: 1 0 calc(21.33% - 20px);
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    zoom: 0.9;
}
.re_product_toggle {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    gap: 20px;
    zoom:0.8;
}
.remove-product-types-toggle .switch {
    margin-right: 20px;
}

/* Icon Hover Style */
#dokan-kits-body-content .dokan_kits_style_box i{
    font-size: 36px;
  display: inline-block;
  cursor: pointer;
  margin: 15px;
  width: 80px;
  height: 80px;
  line-height: 84px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  color: #1d2327;
  background-color: rgba(33, 150, 243, 0.2);
  transition: 300ms;
}
#dokan-kits-body-content .dokan_kits_style_box i:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  box-sizing: content-box;
  box-shadow: 0 0 0 3px #2196f3;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 300ms;
}
.type-bu-si{
    zoom: 0.9;
}
#dokan-kits-body-content .dokan_kits_style_box:hover i{
  background-color: #2196f3;
  color: #fff;
}

#dokan-kits-body-content .dokan_kits_style_box:hover i:after {
  opacity: 1;
  transform: scale(1.15);
}
/* End Icon Hover Style */
.dokan_kits_description-box{
    background:#F9FAFB;
    padding: 20px;
    border-radius:5px;
    margin-bottom:25px;
    margin-top: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    text-align:center;
}
.dokan_kits_style_box{
    background:rgb(255, 255, 255, 0.8);
    padding: 20px 20px 7px;
    border-radius:5px;
    margin-bottom:25px;
}
#dokan-kits-body-content .dokan_kits_style_box:hover{
    box-shadow: -1px -1px 26px -2px rgba(0,0,0,0.39);
-webkit-box-shadow: -1px -1px 26px -2px rgba(0,0,0,0.39);
-moz-box-shadow: -1px -1px 26px -2px rgba(0,0,0,0.39);
transition:0.3s;
}
.for_title_label{
    font-weight:bold;
    font-size:18px;
}
#remove_vendor_checkbox{
    margin-top: 1px;
    margin-left: 10px;
}
/* Box New Hover Style */
.dokan_kits_style_box{
    display: block;
    border: 2px solid #d5d5d5;
    border-radius: 4px;
    text-align: center;
    background: #fff;
    padding: 20px;
    position: relative;
  margin-bottom:30px;
}
.dokan_kits_style_box:hover i{
    color:#2196f3;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}
.dokan_kits_style_box:before {
    display: block;
    content: "";
    width: 9%;
    height: 17%;
    position: absolute;
    bottom: -2px;
    right: -2px;
    border-bottom: 2px solid #2196f3;
    border-right: 2px solid #2196f3;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}
.dokan_kits_style_box:after {
    display: block;
    content: "";
    width: 9%;
    height: 17%;
    position: absolute;
    top: -2px;
    left: -2px;
    border-top: 2px solid #2196f3;
    border-left: 2px solid #2196f3;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}
.dokan_kits_style_box:hover{
    opacity: 1;
    border-color: #d5d5d5;
}
.dokan_kits_style_box:hover, .dokan_kits_style_box:active {
    text-decoration: none;
}
.dokan_kits_style_box:hover:before, .dokan_kits_style_box:hover:after {
    width: 95%;
    height: 90%;
}
/* End Hover Style */
/* Button Style start */
.dokan_kits_style_box {
    text-align: center;
    padding: 10px;
}

.toggle-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    position: relative;
}

.for_title_label {
    margin-bottom: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: background-color 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: transform 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.status-text {
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
    transition: color 0.4s;
}

input:checked + .slider + .status-text {
    color: #2196F3;
}
/* Button style end */
div#dokan_kits_save_ch p input{
    text-align:center;
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
div#dokan_kits_save_ch p{
    text-align:center;
}
.save-changes-message{
    text-align:center;
}
/* Button style end */
@media (max-width: 768px) {
    #dokan-kits-body-content .dokan_kits_style_box{
        width:89%;
    }
    #dokan-kits-body-content {
    display: block;
}
    #dokan-kits-body-content .dokan_kits_style_box{
    flex: none;
}
    .dokan-kits-wrap{
    max-width:99%;
}
}
